In [ ]:
!pip install pynytimes

import pynytimes
import requests
import pandas as pd
import time
import re

from google.colab import data_table
from vega_datasets import data

data_table.enable_dataframe_formatter()



#API key
# 9WZV42GGGa7VnNznPal0BZD427T2KJQC

Requirement already satisfied: pynytimes in /usr/local/lib/python3.10/dist-packages (0.10.0)
Requirement already satisfied: requests<3.0.0,>=2.10.0 in /usr/local/lib/python3.10/dist-packages (from pynytimes) (2.31.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from pynytimes) (2.0.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.10.0->pynytimes) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.10.0->pynytimes) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.10.0->pynytimes) (2023.7.22)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/My Drive/news/grouped_with_sentiment.csv')

Mounted at /content/drive

In [ ]:
for i in df.columns:
  print(i)

clean_dates
headline
snippet
head_pos
head_neg
head_neu
snippet_pos
snippet_neg
snippet_neu

In [ ]:

# Replace 'YOUR_API_KEY' with your actual New York Times API key
API_KEY = '9WZV42GGGa7VnNznPal0BZD427T2KJQC'



# Define the API endpoint and parameters
base_url = 'https://api.nytimes.com/svc/archive/v1/2000/1.json?api-key=9WZV42GGGa7VnNznPal0BZD427T2KJQC'
#params = {
    #'begin_date': '20100101',  # Start date (YYYYMMDD)
    #'end_date': '20200101',    # End date (YYYYMMDD)
#    'api-key': API_KEY
#}

In [ ]:
# Make the API request
response = requests.get(base_url)

In [ ]:
print (response.status_code)

200

In [ ]:
# prompt: generate a list with numbers 1 to 31

months = list(range(1, 13))
years = list(range(2000, 2023))

In [ ]:
# prompt: save a dataframe as csv
def save_df(df, filename):
    df.to_csv(filename)


dt = []
headline = []
snippet = []

In [ ]:
# Check if the request was successful
if response.status_code == 200:
    data = response.json()

    # Extract and print article headlines and snippets
    for article in data['response']['docs']:
        dt.append(article['pub_date'])
        headline.append(article['headline']['main'])
        snippet.append(article['snippet'])


else:
    print('Error:', response.status_code)

In [ ]:


from google.colab import drive
drive.mount('/content/drive')
# Create a folder in the root directory
!mkdir -p "/content/drive/My Drive/news"


# Replace 'YOUR_API_KEY' with your actual New York Times API key
API_KEY = '9WZV42GGGa7VnNznPal0BZD427T2KJQC'

# Define the API endpoint and parameters
base_url = 'https://api.nytimes.com/svc/archive/v1/2000/1.json?api-key=9WZV42GGGa7VnNznPal0BZD427T2KJQC'


dt = []
headline = []
snippet = []




# Make the API request
response = requests.get(base_url)
print(response.status_code)
# Check if the request was successful
if response.status_code == 200:
  data = response.json()
  # Extract and print article headlines and snippets
  for article in data['response']['docs']:
    dt.append(article['pub_date'])
    headline.append(article['headline']['main'])
    snippet.append(article['snippet'])


  df = pd.DataFrame({'dt': dt, 'headline': headline, 'snippet': snippet})
  df.to_csv('/content/drive/My Drive/news/newsdata.csv')
  print('Saved data to newsdata.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
200
Saved data to newsdata.csv

In [ ]:

months = list(range(1, 13))
years = list(range(2000, 2023))
dt = []
headline = []
snippet = []


count = 0

for i in range(len(years)):
  for j in range(len(months)):
    try:
      time.sleep(20)
      base_url = 'https://api.nytimes.com/svc/archive/v1/' + str(years[i]) + '/' + str(months[j]) + '.json?api-key=9WZV42GGGa7VnNznPal0BZD427T2KJQC'
      # Make the API request
      response = requests.get(base_url)
      print(response.status_code)
      # Check if the request was successful
      if response.status_code == 200:
        data = response.json()
        # Extract and print article headlines and snippets
        for article in data['response']['docs']:
          dt.append(article['pub_date'])
          headline.append(article['headline']['main'])
          snippet.append(article['snippet'])

        #
        #df = pd.DataFrame({'dt': dt, 'headline': headline, 'snippet': snippet})
        #df.to_csv('/content/drive/My Drive/news/data' + str(count) + '.csv')
        #print('Saved data to data' + str(count) + '.csv')
        #count += 1


      else:
        print('Error:', response.status_code)

    except:
      print('Error:' + str(count))

df = pd.DataFrame({'dt': dt, 'headline': headline, 'snippet': snippet})
df.to_csv('/content/drive/My Drive/news/newsdata.csv')
print('Saved data to newsdata.csv')

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
Saved data to newsdata.csv

In [ ]:
months = list(range(1, 13))
years = list(range(2000, 2023))
dt = []
headline = []
snippet = []


count = 0

for i in range(len(years)):
  for j in range(len(months)):
    try:
      time.sleep(20)
      base_url = 'https://api.nytimes.com/svc/archive/v1/' + str(years[i]) + '/' + str(months[j]) + '.json?api-key=9WZV42GGGa7VnNznPal0BZD427T2KJQC'
      # Make the API request
      response = requests.get(base_url)
      print(response.status_code)
      # Check if the request was successful
      if response.status_code == 200:
        data = response.json()
        # Extract and print article headlines and snippets
        for article in data['response']['docs']:
          dt.append(article['pub_date'])
          headline.append(article['headline']['main'])
          snippet.append(article['snippet'])

        #
        #df = pd.DataFrame({'dt': dt, 'headline': headline, 'snippet': snippet})
        #df.to_csv('/content/drive/My Drive/news/data' + str(count) + '.csv')
        #print('Saved data to data' + str(count) + '.csv')
        #count += 1


      else:
        print('Error:', response.status_code)

    except:
      print('Error:' + str(count))

df = pd.DataFrame({'dt': dt, 'headline': headline, 'snippet': snippet})
df.to_csv('/content/drive/My Drive/news/newsdata.csv')
print('Saved data to newsdata.csv')

In [ ]:
# prompt: how to you read csv file into a dataframe
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv('/content/drive/My Drive/news/newsdata.csv')

Mounted at /content/drive

In [ ]:
from google.colab import data_table
from vega_datasets import data

data_table.enable_dataframe_formatter()
df

Warning: total number of rows (2164551) exceeds max_rows (20000). Falling back to pandas display.

,Unnamed: 0,dt,headline,snippet
0,0,2000-01-01T05:00:00+0000,"Playoffs or No, Dallas Provides The Motivation",Article on upcoming New York Giants-Dallas Cow...
1,1,2000-01-01T05:00:00+0000,"On This First Day, a Fanfare for the New Era; ...",Jeanne C Pond letter expresses hope that spiri...
2,2,2000-01-01T05:00:00+0000,Internet's Cheering Squad Nervously Watches Clock,Many experts on Y2K computer problem report th...
3,3,2000-01-01T05:00:00+0000,Economic Thinking Finds a Free Market,NaN
4,4,2000-01-01T05:00:00+0000,INSIDE,NaN
...,...,...,...,...
2164546,2164546,2022-12-31T19:10:36+0000,"Jean Franco, 98, Pioneering Scholar of Latin A...",She infused her work with political and femini...
2164547,2164547,2022-12-31T19:21:09+0000,Extreme Weather in California Causes Flooding ...,"Heavy rain, snow and wind were battering parts..."
2164548,2164548,2022-12-31T20:18:43+0000,Dave Attell Bids a Heartfelt (and Hilarious) F...,"Each year, the comic headlined the club during..."
2164549,2164549,2022-12-31T20:22:56+0000,‘Extremely Rare’ Snowy Owl Sighting Transfixes...,"What brought the owl to the city of Cypress, i..."
2164550,2164550,2022-12-31T20:46:45+0000,Year-End Listener Mailbag: Your 2022 Questions...,Answering reader queries about the state of th...

In [ ]:

pattern = r'\d\d\d\d-\d\d-\d\d'

re_matches = []

for value in df['dt']:
  value = str(value)
  match = re.search(pattern, value)
  if match:
    re_matches.append(match.group())
  else:
    re_matches.append('no match')


df['clean_dates'] = re_matches

In [ ]:
df

Warning: total number of rows (2164551) exceeds max_rows (20000). Falling back to pandas display.

,Unnamed: 0,dt,headline,snippet,clean_dates
0,0,2000-01-01T05:00:00+0000,"Playoffs or No, Dallas Provides The Motivation",Article on upcoming New York Giants-Dallas Cow...,2000-01-01
1,1,2000-01-01T05:00:00+0000,"On This First Day, a Fanfare for the New Era; ...",Jeanne C Pond letter expresses hope that spiri...,2000-01-01
2,2,2000-01-01T05:00:00+0000,Internet's Cheering Squad Nervously Watches Clock,Many experts on Y2K computer problem report th...,2000-01-01
3,3,2000-01-01T05:00:00+0000,Economic Thinking Finds a Free Market,NaN,2000-01-01
4,4,2000-01-01T05:00:00+0000,INSIDE,NaN,2000-01-01
...,...,...,...,...,...
2164546,2164546,2022-12-31T19:10:36+0000,"Jean Franco, 98, Pioneering Scholar of Latin A...",She infused her work with political and femini...,2022-12-31
2164547,2164547,2022-12-31T19:21:09+0000,Extreme Weather in California Causes Flooding ...,"Heavy rain, snow and wind were battering parts...",2022-12-31
2164548,2164548,2022-12-31T20:18:43+0000,Dave Attell Bids a Heartfelt (and Hilarious) F...,"Each year, the comic headlined the club during...",2022-12-31
2164549,2164549,2022-12-31T20:22:56+0000,‘Extremely Rare’ Snowy Owl Sighting Transfixes...,"What brought the owl to the city of Cypress, i...",2022-12-31
2164550,2164550,2022-12-31T20:46:45+0000,Year-End Listener Mailbag: Your 2022 Questions...,Answering reader queries about the state of th...,2022-12-31

In [ ]:
print(df.shape)

(2164551, 5)

In [ ]:
cleaned_df = df.dropna()

In [ ]:
print(cleaned_df.shape)

(1968452, 5)

In [ ]:
for i in cleaned_df.columns:
  print(i)

Unnamed: 0
dt
headline
snippet
clean_dates

In [ ]:
# Group by 'date_column' and aggregate text using join
grouped = cleaned_df.groupby('clean_dates').agg({'headline': ' '.join, 'snippet': ' '.join})


grouped

In [ ]:
grouped.to_csv('/content/drive/My Drive/news/groupeddata.csv')

In [ ]:
import nltk
nltk.download('vader_lexicon')

from nltk.sentiment.vader import SentimentIntensityAnalyzer

head_pos = []
head_neg = []
head_neu = []

snippet_pos = []
snippet_neg = []
snippet_neu = []


for index, row in grouped.iterrows():
  text1 = row['headline']
  text2 = row['snippet']

  # Create a SentimentIntensityAnalyzer object
  sid = SentimentIntensityAnalyzer()

  # Perform sentiment analysis
  sentiment_scores = sid.polarity_scores(text1)
  head_pos.append(sentiment_scores['pos'])
  head_neg.append(sentiment_scores['neg'])
  head_neu.append(sentiment_scores['neu'])

  sentiment_scores = sid.polarity_scores(text2)
  snippet_pos.append(sentiment_scores['pos'])
  snippet_neg.append(sentiment_scores['neg'])
  snippet_neu.append(sentiment_scores['neu'])



# Print the sentiment and scores
#print("Sentiment:", sentiment)
#print("Positive Score:", sentiment_scores['pos'])
#print("Negative Score:", sentiment_scores['neg'])
#print("Neutral Score:", sentiment_scores['neu'])
#print("Compound Score:", sentiment_scores['compound'])

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

In [ ]:
grouped['head_pos'] = head_pos
grouped['head_neg'] = head_neg
grouped['head_neu'] = head_neu

grouped['snippet_pos'] = snippet_pos
grouped['snippet_neg'] = snippet_neg
grouped['snippet_neu'] = snippet_neu

In [ ]:



grouped.to_csv('/content/drive/My Drive/news/grouped_with_sentiment.csv')